### PowerBI Report

In [1]:
import pandas as pd
import numpy as np

#### Import Data

###### 1. Import historical Trends_2022.xlsx file. This contains the historical trends data required for historical benchmarking

###### 2. Import 2023 Smartsheet Upload.xlsx file. This contains the 2023 data (and FY2024 data) needed for current reporting

###### 3. FUTURE STEP: 2024 data (FY2025) will be provided by the client. This will also have to be loaded and appended to the current data model. Updates in code required

In [ ]:
# 2022 Historical Data
df = pd.read_excel('Dta/Smartsheet/Trends_2022.xlsx',
                   header=0,
                   sheet_name='IN ROWS',
                   skiprows= range(1, 55),
                   usecols = 'A:B, D, F:G, K, Q:S, W:X, AE:AF, AH:AI, AK:AL, AX:BD, BE:BG, BI:BK, BM:BN, BP:BQ, BT:BU, BZ:CI, CV:DA, ED:EI, EK:EP, EU:EZ, FB:FC, FQ:FW, GJ:GV')

# 2023 Historical Data 
clubs = pd.read_excel('Dta/Smartsheet/2023 Smartsheet Upload.xlsx', sheet_name="Sheet1")

In [2]:
print(clubs['Total Membership'])

0      1122.0
1       717.0
2      1488.0
3       395.0
4       957.0
        ...
107     300.0
108     467.0
109    1006.0
110     719.0
111       NaN
Name: Total Membership, Length: 112, dtype: float64

In [3]:
df.columns = df.iloc[0]
df = df.iloc[1:]

### Change Field Names

###### Change field names to reflect how they are tracked and audited by Clubs team

In [4]:
col_list = ['Club name', 'Classification', 'Year end', 'Type', 'Mandatory Membership', 'Full Member Equivalents (FME)', 
            'Refundable Equity', 'Non-refundable equity', 'Total equity', 'Dues Rate - Current Year', 
            'Dues Rate - Audit Year', 'General Capital Assessment', 'Capital Assessment Amount', 'Operating Assessment',
            'Operating Assessment Amount', 'Other Capital', 'Amount of general capital assessment', 'Major renovation',
            'Clubhouse', 'Golf Course', 'Fitness/Wellness/Spa', 'Marina', 'Tennis/ Racquet', 'Pool', 
            'Budgeted Major Capital Project', 'Amount of Budgeted Major Capital Project', 
            'Amount of Budgeted Other Capital Projects', 'Ending PPE, net', 'Capital Expenditures (PP&E)', 
            'Depreciation Expense', 'Third Party Debt', 'Total Third Party Debt', 'Current Assets', 
            'Current Liabilities', 'Total Total Liabilities', 'Ending Net Assets', 'Golf Revenue', 'Tennis Revenue', 
            'Pro Shop Sales', 'Other Sports Revenue', 'Dues Revenue', 'Operating Assessments', 
            'Non-Owner Initiation fees', 'Food Revenue', 'Beverage Revenue', 'All Other F&B Revenue', 
            'Payroll and PTEB Expense', 'Cost of sales - F&B', 'Cost of Sales - Pro shop', 'Operating Expenses', 
            'Property Taxes', 'Insurance Expense', 'Total employees in season', 'Use of Organized Foreign Labor',
            '# Foreign Staff hired in yr', 'Total Foreign Labor Costs', 'Increase in Health Insurance', 
            '% inc. in Health Insurance', 'Food and Beverage Minimum', 'Amount of F&B Minimum', 
            'Automatic F&B Gratuity', '% amt of F&B gratuity', 'Mandatory Service Charge', 
            'Amount of Monthly Service Charge', '# full service kitchens', '# covers (include function / banquet)', 
            '#  function / banquet covers', 'Compensation Method for F&B Staff', 'Food sales (exc Mins)', 
            'Cost of food sold', 'Beverage sales', 'Cost of beverage sales', 
            'F&B - Salaries and wages expense (EXC credit for M', 'F&B - Less credit = 20% of F&B sales (only applies', 
            'F&B - Payroll taxes and benefits', "F&B - Employees' meals", 'F&B - Laundry', 
            'F&B - Linen, china, glass, silver', 'F&B - Other expenses (excluding entertainment, val', 
            'Increase in Menu Prices', 'Av % inc Menu Price', 'Increase in Beverage Prices', 'Av % inc Bev Price', 
            '# of holes', 'Maintained golf acreage', 'Rounds per year', 'GCM  Salaries and wages', 
            'GCM  Payroll taxes and benefits', 'GCM  Course supplies and contracts (includes gaso', 
            'GCM  Repairs & mtce (includes tree trimming, lake', 'GCM  Leased equipment expense', 
            'GCM  All other expenses (including utilities)'
]
df.columns = col_list

In [5]:
df['Index'] = df.index

In [6]:
df['Index'] = df['Index'].astype(str)

### Renovation Unpivot

###### Clubs renovations are indexed as column headers ('Clubhouse', 'Golf Course', 'Fitness/Wellness/Spa', 'Marina', 'Tennis/ Racquet', 'Pool'). Recode for Types of Renovation to match Clubs data standards

In [ ]:
# Create a dataframe with the columns that need to be unpivoted
unpivot = df[['Index', 'Clubhouse', 'Golf Course', 'Fitness/Wellness/Spa', 'Marina', 'Tennis/ Racquet', 'Pool']]

In [ ]:
# Code numeric to categorical string values
unpivot['Clubhouse'] = unpivot['Clubhouse'].map({1: 'Clubhouse', 0: np.nan})
unpivot['Golf Course'] = unpivot['Golf Course'].map({1: 'Golf Course', 0: np.nan})
unpivot['Fitness/Wellness/Spa'] = unpivot['Fitness/Wellness/Spa'].map({1: 'Fitness/Wellness/Spa', 0: np.nan})
unpivot['Marina'] = unpivot['Marina'].map({1: 'Marina', 0: np.nan})
unpivot['Tennis/ Racquet'] = unpivot['Tennis/ Racquet'].map({1: 'Tennis/ Racquet', 0: np.nan})
unpivot['Pool'] = unpivot['Pool'].map({1: 'Pool', 0: np.nan})

C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\3412996479.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot['Clubhouse'] = unpivot['Clubhouse'].map({1: 'Clubhouse', 0: np.nan})
C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\3412996479.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot['Golf Course'] = unpivot['Golf Course'].map({1: 'Golf Course', 0: np.nan})
C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\3412996479.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot['Fitness/Wellness/Spa'] = unpivot['Fitness/Wellness/Spa'].map({1: 'Fitness/Wellness/Spa', 0: np.nan})
C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\3412996479.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot['Marina'] = unpivot['Marina'].map({1: 'Marina', 0: np.nan})
C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\3412996479.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot['Tennis/ Racquet'] = unpivot['Tennis/ Racquet'].map({1: 'Tennis/ Racquet', 0: np.nan})
C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\3412996479.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot['Pool'] = unpivot['Pool'].map({1: 'Pool', 0: np.nan})

In [9]:
unpivot['Renovation'] = unpivot[['Clubhouse', 'Golf Course', 'Fitness/Wellness/Spa', 'Marina', 'Tennis/ Racquet', 'Pool']].apply(lambda x: ','.join(x.dropna()), axis=1)

C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\744467801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot['Renovation'] = unpivot[['Clubhouse', 'Golf Course', 'Fitness/Wellness/Spa', 'Marina', 'Tennis/ Racquet', 'Pool']].apply(lambda x: ','.join(x.dropna()), axis=1)

In [10]:
unpivot.head()

,Index,Clubhouse,Golf Course,Fitness/Wellness/Spa,Marina,Tennis/ Racquet,Pool,Renovation
1,1,NaN,NaN,NaN,NaN,NaN,NaN,
2,2,NaN,NaN,NaN,NaN,NaN,NaN,
3,3,NaN,Golf Course,NaN,NaN,NaN,NaN,Golf Course
4,4,NaN,NaN,NaN,NaN,NaN,NaN,
5,5,Clubhouse,NaN,NaN,NaN,Tennis/ Racquet,Pool,"Clubhouse,Tennis/ Racquet,Pool"

In [11]:
unpivot[['Type of Renovation  1', 'Type of Renovation  2', 'Type of Renovation  3', 'Type of Renovation  4']] = unpivot['Renovation'].str.split(",", expand = True)

C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\3855437097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot[['Type of Renovation  1', 'Type of Renovation  2', 'Type of Renovation  3', 'Type of Renovation  4']] = unpivot['Renovation'].str.split(",", expand = True)
C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\3855437097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot[['Type of Renovation  1', 'Type of Renovation  2', 'Type of Renovation  3', 'Type of Renovation  4']] = unpivot['Renovation'].str.split(",", expand = True)
C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\3855437097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot[['Type of Renovation  1', 'Type of Renovation  2', 'Type of Renovation  3', 'Type of Renovation  4']] = unpivot['Renovation'].str.split(",", expand = True)
C:\Users\E082336\AppData\Local\Temp\ipykernel_13332\3855437097.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unpivot[['Type of Renovation  1', 'Type of Renovation  2', 'Type of Renovation  3', 'Type of Renovation  4']] = unpivot['Renovation'].str.split(",", expand = True)

###### Drop columns ('Clubhouse', 'Golf Course', 'Fitness/Wellness/Spa', 'Marina', 'Tennis/ Racquet', 'Pool', 'Renovation') and join unpivot dataframe

In [12]:
unpivot = unpivot.drop(columns=['Clubhouse', 'Golf Course', 'Fitness/Wellness/Spa', 'Marina', 'Tennis/ Racquet', 'Pool', 'Renovation'])

In [13]:
df = df.drop(columns=['Clubhouse', 'Golf Course', 'Fitness/Wellness/Spa', 'Marina', 'Tennis/ Racquet', 'Pool'])

In [14]:
df_final =pd.merge(df,unpivot, on='Index', how='left')

In [15]:
df_final['Year End'] = "FY22"

In [16]:
df_final = df_final.drop(columns=['Index'])

### Transform

###### Transform data for calculations

In [17]:
df_final['Year end'] = pd.to_datetime(df_final['Year end']).dt.strftime('%m/%d/%Y')
df_final['Year end'] = pd.to_datetime(df_final['Year end'])
df_final['Type'] = df_final['Type'].replace({1: 'Club', 0: 'Association'})
df_final['Mandatory Membership'] = df_final['Mandatory Membership'].replace({1: 'Yes', 0: 'No'})
df_final['General Capital Assessment'] = df_final['General Capital Assessment'].replace({1: 'Yes', 0: 'No'})
df_final['Operating Assessment'] = df_final['Operating Assessment'].replace({1: 'Yes', 0: 'No'})
df_final['Other Capital'] = df_final['Other Capital'].replace({1: 'Yes', 0: 'No'})
df_final['Major renovation'] = df_final['Major renovation'].replace({1: 'Yes', 0: 'No'})
df_final['Budgeted Major Capital Project'] = df_final['Budgeted Major Capital Project'].replace({1: 'Yes', 0: 'No'})
df_final['Third Party Debt'] = df_final['Third Party Debt'].replace({1: 'Yes', 0: 'No'})
df_final['Third Party Debt'] = df_final['Third Party Debt'].replace({1: 'Yes', 0: 'No'})
df_final['Use of Organized Foreign Labor'] = df_final['Use of Organized Foreign Labor'].replace({1: 'Yes', 0: 'No'})
df_final['Increase in Health Insurance'] = df_final['Increase in Health Insurance'].replace({1: 'Yes', 0: 'No'})
df_final['Food and Beverage Minimum'] = df_final['Food and Beverage Minimum'].replace({1: 'Yes', 0: 'No'})
df_final['Automatic F&B Gratuity'] = df_final['Automatic F&B Gratuity'].replace({1: 'Yes', 0: 'No'})
df_final['Mandatory Service Charge'] = df_final['Mandatory Service Charge'].replace({1: 'Yes', 0: 'No'})
df_final['Compensation Method for F&B Staff'] = df_final['Compensation Method for F&B Staff'].replace({2: 'Gratuity + Flat Rate', 1: 'Gratuity', 0: 'Hourly'})
df_final['Increase in Menu Prices'] = df_final['Increase in Menu Prices'].replace({1: 'Yes', 0: 'No'})
df_final['Increase in Beverage Prices'] = df_final['Increase in Beverage Prices'].replace({1: 'Yes', 0: 'No'})

###### Change Club Names to reflect the correct names

In [18]:
df_final['Club name'] = df_final['Club name'].replace({'Aberdeen Golf & CC': 'Aberdeen Golf and Country Club',
                                                       'ADDISON RESERVE ': 'Addison Reserve Country Club',
                                                       'BallenIsles': 'BallenIsles Country Club',
                                                       'Banyan Golf Club of Palm Beach': 'Banyan Golf Club',
                                                       'Bay Colony C.A.': 'Bay Colony Community Association',
                                                       'Bay Colony GC': 'Bay Colony Golf Club',
                                                       'Bear Lakes Country Club': 'Bear Lakes Country Club',
                                                       "Bear's Paw CC": "Bear's Paw Country Club",
                                                       'Boca Grove Golf & Tennis Club, Inc.': 'Boca Grove Golf and Tennis Club',
                                                       'Boca West Country Club': 'Boca West Country Club',
                                                       'Boca Woods CC': 'Boca Woods Country Club',
                                                       'Bocaire Country Club': 'Bocaire Country Club',
                                                       'Bonita Bay Club': 'Bonita Bay Club',
                                                       'Broken Sound Club': 'Broken Sound Club',
                                                       'Cedar hammock': 'Cedar Hammock Country Club',
                                                       "Collier's Reserve Country Club": "Collier's Reserve Country Club",
                                                       'Colonial CCMA': 'Colonial Country Club',
                                                       'Coral Reef YC': 'Coral Reef Yacht Club',
                                                       'Country Club of Florida': 'Country Club of Florida',
                                                       'Country Club of Naples': 'Country Club of Naples',
                                                       'Countryside Golf & Country Club': 'Countryside Golf and Country Club',                   
                                                       'Deering Bay Yacht and Country Club': 'Deering Bay Yacht and Country Club',
                                                       'Delaire ': 'Delaire Country Club',
                                                       'Delray Beach Club': 'Delray Beach Club',
                                                       'Delray Dunes': 'Delray Dunes Golf and Country Club',
                                                       'Eagle Creek': 'Eagle Creek Golf and Country Club',
                                                       'Esplanade Golf & Country Club at Lakewood Ranch, Inc.': 'Esplanade Golf & Country Club at Lakewood Ranch, Inc.',
                                                       'Everglades Club': 'Everglades Club',
                                                       'Fiddlesticks CC': 'Fiddlesticks Country Club',
                                                       'Forest Glen G&CCMA': 'Forest Glen Golf and Country Club',
                                                       'Fort Lauderdale Country Club': 'Fort Lauderdale Country Club',
                                                       'Foxfire Community Association': 'Foxfire Country Club',
                                                       "Frenchman's Creek, Inc.": "Frenchman's Creek",
                                                       "Frenchman's Reserve": "Frenchmans Reserve",
                                                       'Gleneagles Country Club': 'Gleneagles Country Club',
                                                       'Grey Oaks Country Club': 'Grey Oaks Country Club',
                                                       'Gulf Harbour Golf and Country Club': 'Gulf Harbour Yacht and Country Club',                                            'Gulf Stream Bath & Tennis Club, Inc.': 'Gulf Stream Bath and Tennis Club',
                                                       'Gulf Stream Golf Club': 'Gulf Stream Golf Club',                                                       
                                                       'Hammock Dunes Club': 'Hammock Dunes Club',
                                                       'Harbour Ridge': 'Harbour Ridge',
                                                       'Heritage Bay': 'Heritage Bay Golf and Country Club',
                                                       'HIGH RIDGE COUNTRY CLUB': 'High Ridge Country Club',
                                                       'Hunters Run': 'Hunters Run Country Club',
                                                       'Ibis Golf  &CC': 'Ibis Golf and Country Club',
                                                       'Imperial GC': 'Imperial Golf Club',
                                                       'Indian Creek Country Club': 'Indian Creek Country Club',
                                                       'Indian River Colony Club, Inc.': 'Indian River Colony Club',
                                                       'Interlachen CC': 'Interlachen Country Club',
                                                       'Isla del Sol Yacht & CC': 'Isla del Sol Yacht and Country Club',
                                                       'ISLAND CC': 'Island Country Club',
                                                       "John's Island Club": "John's Island Club",
                                                       "Jonathan's Landing Golf Club": "Jonathan's Landing Golf Club",
                                                       'Jupiter Hills Club': 'Jupiter Hills Club',
                                                       'Jupiter Island Club Inc.': 'Jupiter Island Club',
                                                       'Kensington Golf & Country Club': 'Kensington Golf and Country Club',
                                                       'Key Biscayne Yacht Club, Inc.': 'Key Biscayne Yacht Club',
                                                       'Key Largo Anglers Club': 'Key Largo Anglers Club',
                                                       'LA GORCE COUNTRY CLUB': 'La Gorce Country Club',
                                                       'Lauderdale Yacht Club': 'Lauderdale Yacht Club',
                                                       'Legends G & CCMA': 'Legends Golf and Country Club',
                                                       'Lexington Community Association': 'Lexington Community Association',
                                                       'Loblolly': 'Loblolly',
                                                       'Lost Tree Club, Inc.': 'Lost Tree Club',
                                                       'Mariner Sands Country Club, Inc.': 'Mariner Sands Country Club',
                                                       'Mizner': 'Mizner Country Club',
                                                       'Naples National Golf Club': 'Naples National Golf Club',
                                                       'Naples Yacht Club': 'Naples Yacht Club',
                                                       'Old Palm Golf Club, Inc.': 'Old Palm Golf Club',
                                                       'Olde Hickory G & CC MA': 'Olde Hickory Golf and Country Club',
                                                       'Orchid Island Golf and Beach Club': 'Orchid Island Golf and Beach Club',
                                                       'PALMA CEIA GOLF AND COUNTRY CLUB, INC': 'Palma Ceia Golf and Country Club',
                                                       'Pelican Marsh GC': 'Pelican Marsh Golf Club',
                                                       "Pelican's Nest Golf Club": "Pelican's Nest Golf Club",
                                                       'Pine Tree Golf Club': 'Pine Tree Golf Club',
                                                       "Pipers Landing ": "Piper's Landing Yacht & Country Club",
                                                       'Quail Creek CC': 'Quail Creek Country Club',
                                                       'Quail West Foundation': 'Quail West Foundation',
                                                       'ROYAL PALM YACHT &CC': 'Royal Palm Yacht and Country Club',
                                                       'Royal Poinciana Golf Club': 'Royal Poinciana Golf Club',
                                                       'Royal Wood Golf & CC': 'Royal Wood Golf & Country Club',
                                                       'Sailfish Point Golf Club': 'Sailfish Point Golf Club',
                                                       'Sarasota Yacht Club': 'Sarasota Yacht Club',
                                                       'Sawgrass Country Club': 'Sawgrass Country Club',
                                                       'Seminole Golf Club': 'Seminole Golf Club',
                                                       'Shadow Wood Country Club': 'Shadow Wood Country Club',
                                                       'Spring Run GC': 'Spring Run Golf Club',
                                                       'St. Andrews Country Club': 'St. Andrews Country Club',
                                                       'Stoneybrook Golf & CC': 'Stoneybrook Golf and Country Club',
                                                       'Tampa Yacht & Country Club, Inc. ': 'Tampa Yacht and Country Club',
                                                       'The Beach Club': 'The Beach Club',
                                                       'The Club at QR': 'The Club at Quail Ridge',
                                                       'The Plantation at Ponte Vedra, Inc.': 'The Plantation at Ponte Vedra',
                                                       'The Polo Club of Boca Raton': 'The Polo Club of Boca Raton',
                                                       'Timber Pines Community Association': 'Timber Pines Community Association',
                                                       'Vanderbilt C.A.': 'Vanderbilt Country Club',
                                                       'Vasari CCMA': 'Vasari Country Club',
                                                       'Vero Beach Country Club': 'Vero Beach Country Club',
                                                       'Wildcat Run CCA': 'Wildcat Run Golf and Country Club',
                                                       'Wilderness Country Club': 'Wilderness Club',
                                                       'Winter Park Racquet Club, Inc. ': 'Winter Park Racquet Club',
                                                       'Wycliffe Golf and Country Club': 'Wycliffe Golf and Country Club',
                                                       'Wyndemere CC': 'Wyndemere Country Club'
                                                      })

###### Reclassify regional names

In [19]:
df_final['Classification'] = df_final['Classification'].replace({'BOCA': 'Boca Raton Area',
                                                       'SE exc BOCA': 'Southeast without Boca',
                                                       'SW CIRA': 'Southwest CIRAs',
                                                       'SW exc CIRA': 'Southwest without CIRAs',
                                                       'Yacht & Beach': 'Yacht and Beach Clubs',
                                                       'North&Central': 'North And Central'
                                                      })

###### Drop duplicate ZIP Code

In [20]:
zipcode = clubs[["Club name", "Zip Code"]]

In [21]:
zipcode = zipcode.drop_duplicates(subset = "Zip Code")

In [22]:
df_final =pd.merge(df_final, zipcode, on='Club name', how='left')

### Append to Master File and Export

#### Append

###### Append files to produce final data frame

In [23]:
# Filter Clubs data for 2023
clubs = clubs[clubs['Year end'].dt.year == 2023]

In [24]:
clubs['Year End'] = "FY23"

In [25]:
master_df = pd.concat([clubs, df_final], ignore_index = True)
#master_df = df_final.append(clubs)

### Export

###### Export final dataframe. This is the file that will produce the PowerBI Clubs Trends reports that the Clubs and Marketing Teams will utilize

In [26]:
# Export
master_df.to_excel('Dta/Smartsheet/Smartsheet Upload PowerBI.xlsx', index = False)

## Audit

###### The next calculations will produce an Excel file that should be sent to the Clubs team. Code produced are Fiscal Metric calculations they will observe to audit the findings from the PowerBI dashboard

In [36]:
# Conversions

master_df['Food Revenue'] = pd.to_numeric(master_df['Food Revenue'], errors='coerce')
master_df['Food Revenue'].fillna(0, inplace=True)

master_df['Beverage Revenue'] = pd.to_numeric(master_df['Beverage Revenue'], errors='coerce')
master_df['Beverage Revenue'].fillna(0, inplace=True)

master_df['Cost of food sold'] = pd.to_numeric(master_df['Cost of food sold'], errors='coerce')
master_df['Cost of food sold'].fillna(0, inplace=True)

master_df['Cost of beverage sales'] = pd.to_numeric(master_df['Cost of beverage sales'], errors='coerce')
master_df['Cost of beverage sales'].fillna(0, inplace=True)

master_df['F&B - Salaries and wages expense (EXC credit for M'] = pd.to_numeric(master_df['F&B - Salaries and wages expense (EXC credit for M'], errors='coerce')
master_df['F&B - Salaries and wages expense (EXC credit for M'].fillna(0, inplace=True)

master_df['F&B - Less credit = 20% of F&B sales (only applies'] = pd.to_numeric(master_df['F&B - Less credit = 20% of F&B sales (only applies'], errors='coerce')
master_df['F&B - Less credit = 20% of F&B sales (only applies'].fillna(0, inplace=True)

master_df['F&B - Payroll taxes and benefits'] = pd.to_numeric(master_df['F&B - Payroll taxes and benefits'], errors='coerce')
master_df['F&B - Payroll taxes and benefits'].fillna(0, inplace=True)

master_df["F&B - Employees' meals"] = pd.to_numeric(master_df["F&B - Employees' meals"], errors='coerce')
master_df["F&B - Employees' meals"].fillna(0, inplace=True)

master_df['F&B - Laundry'] = pd.to_numeric(master_df['F&B - Laundry'], errors='coerce')
master_df['F&B - Laundry'].fillna(0, inplace=True)

master_df['F&B - Linen, china, glass, silver'] = pd.to_numeric(master_df['F&B - Linen, china, glass, silver'], errors='coerce')
master_df['F&B - Linen, china, glass, silver'].fillna(0, inplace=True)

master_df['F&B - Other expenses (excluding entertainment, val'] = pd.to_numeric(master_df['F&B - Other expenses (excluding entertainment, val'], errors='coerce')
master_df['F&B - Other expenses (excluding entertainment, val'].fillna(0, inplace=True)

In [37]:
master_df['F&B Revenue'] = (master_df['Food Revenue'] + master_df['Beverage Revenue']) 
master_df['F&B Costs'] = (master_df['Cost of food sold'] 
                          + master_df['Cost of beverage sales'] 
                          + master_df['F&B - Salaries and wages expense (EXC credit for M'] 
                          + master_df['F&B - Less credit = 20% of F&B sales (only applies'] 
                          + master_df['F&B - Payroll taxes and benefits'] 
                          + master_df["F&B - Employees' meals"] 
                          + master_df['F&B - Laundry'] 
                          + master_df['F&B - Linen, china, glass, silver'] 
                          + master_df['F&B - Other expenses (excluding entertainment, val'])
master_df['F&B Sibsidy'] = master_df['F&B Revenue'] - master_df['F&B Costs']

In [38]:
# Conversions

master_df['GCM  All other expenses (including utilities)'] = pd.to_numeric(master_df['GCM  All other expenses (including utilities)'], errors='coerce')
master_df['GCM  All other expenses (including utilities)'].fillna(0, inplace=True)

master_df['GCM  Course supplies and contracts (includes gaso'] = pd.to_numeric(master_df['GCM  Course supplies and contracts (includes gaso'], errors='coerce')
master_df['GCM  Course supplies and contracts (includes gaso'].fillna(0, inplace=True)

master_df['GCM  Leased equipment expense'] = pd.to_numeric(master_df['GCM  Leased equipment expense'], errors='coerce')
master_df['GCM  Leased equipment expense'].fillna(0, inplace=True)

master_df['GCM  Payroll taxes and benefits'] = pd.to_numeric(master_df['GCM  Payroll taxes and benefits'], errors='coerce')
master_df['GCM  Payroll taxes and benefits'].fillna(0, inplace=True)

master_df['GCM  Repairs & mtce (includes tree trimming, lake'] = pd.to_numeric(master_df['GCM  Repairs & mtce (includes tree trimming, lake'], errors='coerce')
master_df['GCM  Repairs & mtce (includes tree trimming, lake'].fillna(0, inplace=True)

master_df['GCM  Salaries and wages'] = pd.to_numeric(master_df['GCM  Salaries and wages'], errors='coerce')
master_df['GCM  Salaries and wages'].fillna(0, inplace=True)

master_df['# of holes'] = pd.to_numeric(master_df['# of holes'], errors='coerce')
master_df['# of holes'].fillna(0, inplace=True)

In [39]:
master_df['GCM Total'] = (master_df['GCM  All other expenses (including utilities)'] +
master_df['GCM  Course supplies and contracts (includes gaso'] +
master_df['GCM  Leased equipment expense'] +
master_df['GCM  Payroll taxes and benefits'] +
master_df['GCM  Repairs & mtce (includes tree trimming, lake'] +
master_df['GCM  Salaries and wages'])

master_df['GCM Cost per hole'] = master_df.apply(lambda row: row['GCM Total'] / row['# of holes'] if row['# of holes'] != 0 else 0, axis=1)

In [40]:
# Conversions

master_df['Full Member Equivalents (FME)'] = pd.to_numeric(master_df['Full Member Equivalents (FME)'], errors='coerce')
master_df['Full Member Equivalents (FME)'].fillna(0, inplace=True)

master_df['Total Third Party Debt'] = pd.to_numeric(master_df['Total Third Party Debt'], errors='coerce')
master_df['Total Third Party Debt'].fillna(0, inplace=True)

master_df['Golf Revenue'] = pd.to_numeric(master_df['Golf Revenue'], errors='coerce')
master_df['Golf Revenue'].fillna(0, inplace=True)

master_df['Tennis Revenue'] = pd.to_numeric(master_df['Tennis Revenue'], errors='coerce')
master_df['Tennis Revenue'].fillna(0, inplace=True)

master_df['Pro Shop Sales'] = pd.to_numeric(master_df['Pro Shop Sales'], errors='coerce')
master_df['Pro Shop Sales'].fillna(0, inplace=True)

master_df['Dues Revenue'] = pd.to_numeric(master_df['Dues Revenue'], errors='coerce')
master_df['Dues Revenue'].fillna(0, inplace=True)

master_df['Operating Assessments'] = pd.to_numeric(master_df['Operating Assessments'], errors='coerce')
master_df['Operating Assessments'].fillna(0, inplace=True)

master_df['Non-Owner Initiation fees'] = pd.to_numeric(master_df['Non-Owner Initiation fees'], errors='coerce')
master_df['Non-Owner Initiation fees'].fillna(0, inplace=True)

master_df['Food Revenue'] = pd.to_numeric(master_df['Food Revenue'], errors='coerce')
master_df['Food Revenue'].fillna(0, inplace=True)

master_df['Food Revenue'] = pd.to_numeric(master_df['Food Revenue'], errors='coerce')
master_df['Food Revenue'].fillna(0, inplace=True)

master_df['Beverage Revenue'] = pd.to_numeric(master_df['Beverage Revenue'], errors='coerce')
master_df['Beverage Revenue'].fillna(0, inplace=True)

master_df['All Other F&B Revenue'] = pd.to_numeric(master_df['All Other F&B Revenue'], errors='coerce')
master_df['All Other F&B Revenue'].fillna(0, inplace=True)

master_df['Payroll and PTEB Expense'] = pd.to_numeric(master_df['Payroll and PTEB Expense'], errors='coerce')
master_df['Payroll and PTEB Expense'].fillna(0, inplace=True)

master_df['Cost of sales - F&B'] = pd.to_numeric(master_df['Cost of sales - F&B'], errors='coerce')
master_df['Cost of sales - F&B'].fillna(0, inplace=True)

master_df['Cost of Sales - Pro shop'] = pd.to_numeric(master_df['Cost of Sales - Pro shop'], errors='coerce')
master_df['Cost of Sales - Pro shop'].fillna(0, inplace=True)

master_df['Operating Expenses'] = pd.to_numeric(master_df['Operating Expenses'], errors='coerce')
master_df['Operating Expenses'].fillna(0, inplace=True)

master_df['Property Taxes'] = pd.to_numeric(master_df['Property Taxes'], errors='coerce')
master_df['Property Taxes'].fillna(0, inplace=True)

master_df['Insurance Expense'] = pd.to_numeric(master_df['Insurance Expense'], errors='coerce')
master_df['Insurance Expense'].fillna(0, inplace=True)

master_df['Total employees in season'] = pd.to_numeric(master_df['Total employees in season'], errors='coerce')
master_df['Total employees in season'].fillna(0, inplace=True)

In [41]:
# Financial Metrics
master_df['Debt/Equity Ratio'] = master_df['Total Total Liabilities'] / master_df['Ending Net Assets']
master_df['Working Cap Ratio'] = master_df['Current Assets'] / master_df['Current Liabilities']
master_df['Debt per FME'] = master_df['Total Third Party Debt'] / master_df['Full Member Equivalents (FME)']
master_df['Total Revenue'] = (master_df['Golf Revenue'] + master_df['Tennis Revenue'] + 
                              master_df['Pro Shop Sales'] + master_df['Dues Revenue'] + 
                              master_df['Operating Assessments'] + 
                              master_df['Non-Owner Initiation fees'] + 
                              master_df['Food Revenue'] + master_df['Beverage Revenue'] + 
                              master_df['All Other F&B Revenue'] + 
                              master_df['Other Sports Revenue']) 
master_df['Total Expenses'] = (master_df['Payroll and PTEB Expense'] + master_df['Cost of food sold'] + 
                               master_df['Cost of Sales - Pro shop'] + master_df['Operating Expenses'] + 
                               master_df['Property Taxes'] + master_df['Insurance Expense'] +
                               master_df['Cost of beverage sales'])

In [42]:
# % Revenue Metrics
master_df['Golf%'] = master_df['Golf Revenue'] / master_df['Total Revenue']
master_df['Tennis%'] = master_df['Tennis Revenue']  / master_df['Total Revenue']
master_df['Pro Shop Sales%'] = master_df['Pro Shop Sales'] / master_df['Total Revenue']
master_df['Dues%'] = master_df['Dues Revenue'] / master_df['Total Revenue']
master_df['Operating Assessments%'] = master_df['Operating Assessments'] / master_df['Total Revenue']
master_df['Initiation fees%'] = master_df['Non-Owner Initiation fees'] / master_df['Total Revenue']
master_df['Food sales%'] = master_df['Food Revenue'] / master_df['Total Revenue']
master_df['Beverage sales%'] = master_df['Beverage Revenue'] / master_df['Total Revenue']
master_df['All Other%'] = master_df['All Other F&B Revenue'] / master_df['Total Revenue']

In [43]:
# % Expense Metrics
master_df['Payroll and related%'] = master_df['Payroll and PTEB Expense'] / master_df['Total Expenses']
master_df['Cost of sales- F&B%'] = master_df['Cost of sales - F&B'] / master_df['Total Expenses']
master_df['Cost of sales- Pro shop%'] = master_df['Cost of Sales - Pro shop'] / master_df['Total Expenses']
master_df['Operating expenses%'] = master_df['Operating Expenses'] / master_df['Total Expenses']
master_df['Property taxes%'] = master_df['Property Taxes'] / master_df['Total Expenses']
master_df['Insurance%'] = master_df['Insurance Expense'] / master_df['Total Expenses']

In [44]:
# Revenue per FME Metrics
master_df['Golf/FME'] = master_df['Golf Revenue'] / master_df['Full Member Equivalents (FME)']
master_df['Tennis/FME'] = master_df['Tennis Revenue']  / master_df['Full Member Equivalents (FME)']
master_df['Pro Shop Sales/FME'] = master_df['Pro Shop Sales'] / master_df['Full Member Equivalents (FME)']
master_df['Dues/FME'] = master_df['Dues Revenue'] / master_df['Full Member Equivalents (FME)']
master_df['Operating Assessments/FME'] = master_df['Operating Assessments'] / master_df['Full Member Equivalents (FME)']
master_df['Initiation fees/FME'] = master_df['Non-Owner Initiation fees'] / master_df['Full Member Equivalents (FME)']
master_df['Food sales/FME'] = master_df['Food Revenue'] / master_df['Full Member Equivalents (FME)']
master_df['Beverage sales/FME'] = master_df['Beverage Revenue'] / master_df['Full Member Equivalents (FME)']
master_df['All Other/FME'] = master_df['All Other F&B Revenue'] / master_df['Full Member Equivalents (FME)']
master_df['Total Revenue/FME'] = master_df['Total Revenue'] / master_df['Full Member Equivalents (FME)']

In [45]:
# Expense per FME Metrics
master_df['Payroll and related/FME'] = master_df['Payroll and PTEB Expense'] / master_df['Full Member Equivalents (FME)']
master_df['Cost of sales- F&B/FME'] = master_df['Cost of sales - F&B'] / master_df['Full Member Equivalents (FME)']
master_df['Cost of sales- Pro shop/FME'] = master_df['Cost of Sales - Pro shop'] / master_df['Full Member Equivalents (FME)']
master_df['Operating expenses/FME'] = master_df['Operating Expenses'] / master_df['Full Member Equivalents (FME)']
master_df['Property taxes/FME'] = master_df['Property Taxes'] / master_df['Full Member Equivalents (FME)']
master_df['Insurance/FME'] = master_df['Insurance Expense'] / master_df['Full Member Equivalents (FME)']
master_df['Total Expenses/FME'] = master_df['Total Expenses'] / master_df['Full Member Equivalents (FME)']

In [46]:
# Employees per FME Metric
master_df['FME per employee'] = master_df['Full Member Equivalents (FME)'] / master_df['Total employees in season']

In [48]:
master_df.to_excel('Dta/Smartsheet/Smartsheet Data Extract.xlsx', index = False)